.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  margin: 0;
  height: 100vh;
  background-color: gray;
}


.logo {
  width: 100%;
  display: flex;
  background-color: rgb(21, 10, 59);

}

.imagem-container {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-x: hidden;
  margin-left: 5px;
}

.search-box {
  display: flex;
  transform: translate(-50%, 50%);
  background: rgb(148, 6, 167);
  height: 30px;
  margin-top: 40px;
  margin-left: 300px;
  border-radius: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.search-text {
  display: flex;
  background: none;
  border: 0;
  outline: 0;
  font-size: 16px;
  width: 300px;
  padding: 0;
  transition: 0.4s;
}

.search-btn {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  cursor: pointer;

}


.imagem-container img {
  margin: 10px;
  display: flex;
  padding: 20px;
  width: 20px;
  border-radius: 30px;
  background-color: rgb(107, 3, 107)
}

.PapelDeParede {
  display: flex;
  position: relative;
  max-width: 100%;
  margin-top: 1px;
  margin-left: 100px;
  margin-right: 100px;
  height: 500px;
  background-position: center;
  background-size: cover;
  border: 2px solid black;
}

.ImagemDeFundo {
  max-width: 50%;
  display: flex;
  margin-left: 1200px;
  margin-top: 450px;

}

button {
  display: block;
  align-items: center;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #0056b3;
}

.Circulo {
  max-width: 10%;
  display: block;
  border: 2px solid #000;
  margin-left: 160px;
  margin-top: -120px;
  margin-bottom: 120px;
  height: 250px; 
  background-color: white; 
  border-radius: 50%; 
}

.FotoDoPerfil { 
  display: block;
  max-width: 100%;
  margin-top: 130px;
  margin-left: 10px;
  
}

.NomeDoJogador{
  display: inline;
  max-width: 30%;
  margin-left: 200px;
  margin-top: -70px;
  white-space: nowrap;
}